In [1]:
import pandas as pd
import requests
import json

In [2]:
API_KEY='cd84c4545786d28c90b9eef50ad42a58'

In [3]:
URL_CREDIT = 'https://api.themoviedb.org/3/movie/{0}/credits?api_key={1}'

In [4]:
def write_to_json(path, list_data):
    with open(path, 'w') as file:
        json.dump(list_data, file, indent=2)

In [5]:
def crawlMovieCredit(id):
    print(f'Start crawl credit of movie id {id}')
    try:
        response = requests.get(URL_CREDIT.format(id,API_KEY))
        # Checking if the request was successful (status code 200)
        if response.status_code == 200:
            # Parsing JSON data from the response
            json_data = response.json()
            return json_data
        else:
            print(f"Failed to get JSON data. Status code: {response.status_code}")
            return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

In [6]:
df_movies = pd.read_json('../data_raw/movie_ids_03_28_2024.json', lines = True)
df_movies.head()

   adult     id                      original_title  popularity  video
0  False   3924                             Blondie       3.636  False
1  False   6124                 Der Mann ohne Namen       0.707  False
2  False   8773                 L'Amour à vingt ans       4.309  False
3  False  25449  New World Disorder 9: Never Enough       0.682  False
4  False  31975      Sesame Street: Elmo Loves You!       0.600   True

In [7]:
sort_list_id = df_movies.sort_values(by='id')['id']
sort_list_id.head()

5    2
6    3
7    5
8    6
9    8
Name: id, dtype: int64

In [8]:
print(sort_list_id.iloc[1])

3

In [10]:
def crawl_credits(start, end):
    list_mv = []
    i = start
    while i <= end:
        credit = crawlMovieCredit(sort_list_id.iloc[i])
        if credit is None:
            continue
        else:
            list_mv.append(credit)
        i += 1
    try:
        write_to_json('./datalake/credit/start{0}_end{1}.json'.format(start, end), list_mv)
        print(f'Success crawl credit of movie from {start} to {end}')
    except Exception as ex:
        print(ex)

In [12]:
crawl_credits(1,2)

Start crawl credit of movie id 3
Start crawl credit of movie id 5
Success crawl credit of movie from 1 to 2