In [1]:
import pandas as pd

In [2]:
pd_rating = pd.read_json("./communication/rating.json")
pd_rating.head()

   user_id  movie_id  rating created_at
0        0     18937       4 1999-09-24
1        0      2898      10 1999-04-08
2        0     25189       3 1999-09-19
3        0       397       8 1999-02-21
4        1       197      10 2001-12-13

In [3]:
del pd_rating

In [4]:
pd_rating = pd.read_json("./communication/comment.json")
pd_rating.head()

,user_id,movie_id,text,created_at
0,0,18937,Animated films are becoming a dime a dozen now...,1999-09-24
1,0,2898,While romantic comedies have been young lovers...,1999-04-08
2,0,25189,Does it really matter that Streisand is a wond...,1999-09-19
3,0,397,Meg Ryan does her little cute thing in this lo...,1999-02-21
4,1,197,I think that this is the best story ever writt...,2001-12-13