In [1]:
import pandas as pd
import numpy as np
import json

In [5]:
df_crews = pd.read_json('../raw/data/crew.json')
df_crews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5521588 entries, 0 to 5521587
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   _id         object
 1   person_id   int64
 2   department  object
 3   job         object
 4   movie_id    int64
dtypes: int64(2), object(3)
memory usage: 210.6+ MB

In [6]:
df_crews.head()

,_id,person_id,department,job,movie_id
0,52fe420dc3a36847f8000071,16767,Directing,Director,3
1,52fe420dc3a36847f8000083,54766,Editing,Editor,3
2,52fe420dc3a36847f8000095,54767,Production,Producer,3
3,5963e8a3c3a36828fc0e46e5,16769,Camera,Director of Photography,3
4,5e1395b26c0b360011ffb228,54771,Costume & Make-Up,Costume Design,3