In [12]:
import pandas as pd
import numpy as np
import json

In [13]:
import json
from io import StringIO

In [ ]:
f = open('./data/movie.json')
data = json.load(f)
result = [json.dumps(record) for record in json.load(data)]

In [ ]:
import json

data 
with open('./data/movie.json', "r") as read_file:
    data = json.load(read_file)

  
# Yield successive n-sized 
# chunks from l. 
def divide_chunks(l, n): 
    # looping till length l 
    for i in range(0, len(l), n):  
        yield l[i:i + n] 

n = 10
j = 0
x = list(divide_chunks(data, n)) 
for d in x:
    j += 1
    result = [json.dumps({"id": record['id'], 'title': record['title'], 'vote_count': record['vote_count'],'vote_average':record['vote_average']}) for record in d]
    with open(f'./chunk/elasticmovie{j}.json', 'w') as obj:
        for i in result:
            obj.write(i+'\n')

In [14]:
df_movies = pd.read_json('./data/movie.json')
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909968 entries, 0 to 909967
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    909968 non-null  int64
 1   imdb_id               590720 non-null  object
 2   title                 909968 non-null  object
 3   genres                909968 non-null  object
 4   original_language     909968 non-null  object
 5   original_title        909968 non-null  object
 6   overview              909968 non-null  object
 7   poster_path           676416 non-null  object
 8   backdrop_path         275177 non-null  object
 9   release_date          909968 non-null  object
 10  revenue               909968 non-null  int64
 11  budget                909968 non-null  int64
 12  spoken_languages      909968 non-null  object
 13  production_countries  909968 non-null  object
 14  production_companies  909968 non-null  object
 15  status                909968 non-null  object
 16  video                 909968 non-null  bool
 17  vote_average          909968 non-null  float64
 18  vote_count            909968 non-null  int64
dtypes: bool(1), float64(1), int64(4), object(13)
memory usage: 125.8+ MB

In [4]:
df_movies.head()

,id,imdb_id,title,genres,original_language,original_title,overview,poster_path,backdrop_path,release_date,revenue,budget,spoken_languages,production_countries,production_companies,status,video,vote_average,vote_count
0,2,tt0094675,Ariel,"[18, 35, 10749, 80]",fi,Ariel,After the coal mine he works at closes and his...,https://image.tmdb.org/t/p/original/ojDg0PGvs6...,https://image.tmdb.org/t/p/original/hQ4pYsIbP2...,1988-10-21,0,0,"[{'english_name': 'Finnish', 'iso_639_1': 'fi'...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",[2303],Released,False,7.100,307
1,3,tt0092149,Shadows in Paradise,"[18, 35, 10749]",fi,Varjoja paratiisissa,"Nikander, a rubbish collector and would-be ent...",https://image.tmdb.org/t/p/original/nj01hspawP...,https://image.tmdb.org/t/p/original/l94l89eMmF...,1986-10-17,0,0,"[{'english_name': 'Finnish', 'iso_639_1': 'fi'...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",[2303],Released,False,7.289,348
2,5,tt0113101,Four Rooms,[35],en,Four Rooms,It's Ted the Bellhop's first night on the job....,https://image.tmdb.org/t/p/original/75aHn1NOYX...,https://image.tmdb.org/t/p/original/f2t4JbUvQI...,1995-12-09,4257354,4000000,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[14, 59]",Released,False,5.800,2536
3,6,tt0107286,Judgment Night,"[28, 80, 53]",en,Judgment Night,"Four young friends, while taking a shortcut en...",https://image.tmdb.org/t/p/original/3rvvpS9YPM...,https://image.tmdb.org/t/p/original/bGMqHn0H2U...,1993-10-15,12136938,21000000,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'iso_3166_1': 'US', 'name': 'United States o...","[1644, 182, 33]",Released,False,6.500,319
4,8,tt0825671,Life in Loops (A Megacities RMX),[99],en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,https://image.tmdb.org/t/p/original/7ln81BRnPR...,None,2006-01-01,0,42000,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",[19123],Released,False,7.500,27

In [ ]:
print(df_movies.head(1))

In [7]:
from datetime import datetime

def conver_datetime(date_string):

    # Chuỗi ngày tháng cần chuyển đổi
    date_string = "1986-10-17"

    # Định dạng chuỗi ngày tháng ban đầu
    date_format_input = "%Y-%m-%d"

    # Chuyển đổi chuỗi ngày tháng thành đối tượng datetime
    date_object = datetime.strptime(date_string, date_format_input)

    # Định dạng lại đối tượng datetime thành chuỗi ngày tháng mới
    date_format_output = "%d-%m-%Y"
    formatted_date_string = date_object.strftime(date_format_output)

    return formatted_date_string

In [9]:
from datetime import datetime, date
def json_serial(obj):
    """JSON serializer for objects not serializable by default json code"""

    if isinstance(obj, (datetime, date)):
        return obj.isoformat()
    raise TypeError ("Type %s not serializable" % type(obj))
def write_to_json(path, list_data):
    with open(path, 'w') as file:
        json.dump(list_data, file, indent=2, default=json_serial)
def checkStringEmpty(value):
    if value == "" or value is None:
        return True
    return False
def getLanguage(value):
    if value is None or len(value) == 0:
        return None
    return value[0]['name']
def getImageUrl(value):
    if checkStringEmpty(value):
        return None
    return 'https://image.tmdb.org/t/p/original' + value

In [16]:
List_movie = []
list_company = []
# loop through the rows using iterrows()
for index, row in df_movies.iterrows():

    movie = {
        "id": row['id'],
        "title": row['title'],
        "genres": row['genres'],
        "overview": row['overview'],
        "poster_path": getImageUrl(row['poster_path']),
        "backdrop_path": getImageUrl(row['backdrop_path']),
        "release_date": conver_datetime(row['release_date']),
        "revenue": row['revenue'],
        "budget": row['budget'],
        "status": row['status'],
        "video": row['video'],
        "vote_average": row['vote_average'],
        "vote_count": row['vote_count'],
    }

    List_movie.append(movie)

write_to_json('./data/movie_db.json', List_movie)