In [1]:
import pandas as pd
import json

In [2]:
df_people = pd.read_json('../raw/people.json')

In [3]:
df_people.head()

,adult,biography,birthday,deathday,gender,homepage,id,imdb_id,known_for_department,name,place_of_birth,popularity,profile_path
0,False,Aki Olavi Kaurismäki (Finnish: [ˈɑki ˈkɑu̯rism...,1957-04-04,None,2,None,16767,nm0442454,Directing,Aki Kaurismäki,"Orimattila, Finland",6.198,https://image.tmdb.org/t/p/original/kiJErWEOv4...
1,False,,1955-11-16,2007-02-28,2,None,54768,nm0656999,Acting,Turo Pajala,"Joutseno, Finland",2.003,https://image.tmdb.org/t/p/original/b6JdzqTn6U...
2,False,"From Wikipedia, the free encyclopedia\n\nSusan...",1957-10-20,None,1,None,54769,nm0352099,Acting,Susanna Haavisto,"Helsinki, Finland",2.567,https://image.tmdb.org/t/p/original/lhjoqlBFCv...
3,False,"Matti Pellonpää (March 28, 1951 in Helsinki – ...",1951-03-28,1995-07-13,2,None,4826,nm0671231,Acting,Matti Pellonpää,"Helsinki, Finland",3.331,https://image.tmdb.org/t/p/original/1Qzhkkp3wF...
4,False,,1981-01-19,None,2,None,54770,nm0383990,Acting,Eetu Hilkamo,Finland,0.833,None

In [4]:
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3308058 entries, 0 to 3308057
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   adult                 bool
 1   biography             object
 2   birthday              object
 3   deathday              object
 4   gender                int64
 5   homepage              object
 6   id                    int64
 7   imdb_id               object
 8   known_for_department  object
 9   name                  object
 10  place_of_birth        object
 11  popularity            float64
 12  profile_path          object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 306.0+ MB

In [5]:
def write_to_json(path, list_data):
    with open(path, 'w') as file:
        json.dump(list_data, file, indent=2)
def checkStringEmpty(value):
    if value == "" or value is None:
        return True
    return False
def getImageUrl(value):
    if checkStringEmpty(value):
        return None
    return 'https://image.tmdb.org/t/p/original' + value

In [6]:
List_people = []
# loop through the rows using iterrows()
for index, row in df_people.iterrows():
    person = {
        'id': row['id'],
        'name': row['name'],
        'biography': row['biography'],
        'deathday': row['deathday'],
        'birthday': row['birthday'],
        'gender': row['gender'],
        'imdb_id': row['imdb_id'],
        'job': row['known_for_department'],
        'place_of_birth': row['place_of_birth'],
        'image': getImageUrl(row['profile_path'])
    }
    

    List_people.append(person)

write_to_json('./data/people.json', List_people)